<div class="tab-pane full-height" id="tab-{{id}}-content">
    <div class="col-xs-12 col-md-10 full-height">
        <div class="row main-chat">
            <div class="col-xs-12">
                <ul id="{{id}}-messages" class="list-group messages">
                </ul>
            </div>
        </div>
        <div class="row input-row">
            <div class="col-xs-12">
                <form action="" id="{{id}}-send" class="send-form">
                    <div class="form-group well well-sm anchor-bottom">
                        <div class="input-group">
                            <input id="{{id}}-message" autocomplete="off" class="form-control sender" />
                            <span class="input-group-btn"><button class="btn btn-danger">Send</button></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2 full-height">
        <div class="well full-height">
            <ul id="{{id}}-users" class="list-group user-list">
            </ul>
        </div>
    </div>
</div>