<a href="#tab-{{id}}-content" aria-controls="{{id}}" data-id="{{id}}" role="tab" data-toggle="tab">
    {{display}} <span class="badge">{{badge}}</span>
    <span data-id="{{id}}" class="close-tab glyphicon glyphicon-remove"></span>
</a>